body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start; /* Ustawienie zawartości po lewej stronie */
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('tlo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    margin: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.event {
    background-color: #e9e9e9;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-time {
    font-size: 1.1rem;
    color: #555;
}

.event-summary {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}
