<!-- templates/events.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteWriter</title>
    <link rel="icon" type="image/x-icon" href="static/logoo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesEvents.css') }}">
</head>
<body>
    <div class="top-nav">
        <a href="/" class="back-to-home">Back to Home</a>
    </div>
    <div class="container">
        <h1>Twoje nadchodzące wydarzenia</h1>
        <div class="events-list">
            {% if events %}
                {% for event in events %}
                    <div class="event">
                        <div class="event-time">{{ event['start'] }}</div>
                        <div class="event-summary">{{ event['summary'] }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Brak nadchodzących wydarzeń.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
