<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteWriter</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/x-icon" href="static/logoo.png">
</head>
<body>
    <div class="container">
        <h1>Witaj w aplikacji!</h1>
        <a href="/events">
            <button id="events-btn">Zobacz swoje wydarzenia</button>
        </a> 
        <a href="/record">
            <button id="record-btn">Nagraj spotkanie</button>
        </a>
        <a href="/my_recordings">
            <button id="recordings-btn">Zobacz swoje nagrania</button>
        </a> 
        <a href="/my_notes">
            <button id="notes-btn">Zobacz swoje notatki</button>
        </a>    
    </div>

    <script src="static/notes.js"></script>
</body>
</html>
